/target/
target/surefire-reports/TEST-mflix.api.daos.ConnectionTest.xml
target/test-classes/mflix/lessons/MongoClientLesson.class
target/surefire-reports/TEST-mflix.api.daos.ConnectionTest.xml
target/surefire-reports/mflix.api.daos.ConnectionTest.txt
target/classes/mflix/Migrator.class
target/classes/mflix/config/WebSecurityConfig.class
target/classes/mflix/config/WebMvcConfig.class
target/classes/mflix/config/MongoDBConfiguration.class
target/classes/mflix/Application.class
target/classes/mflix/api/services/UserService.class
target/classes/mflix/api/services/TokenAuthenticationService.class
target/classes/mflix/api/services/MoviesService.class
target/classes/mflix/api/security/JWTAuthEntryPoint.class
target/classes/mflix/api/security/JWTAuthenticationFilter.class
target/classes/mflix/api/models/ViewerRating.class
target/classes/mflix/api/models/UserRegistry.class
target/classes/mflix/api/models/UserPrincipal.class
target/classes/mflix/api/models/User.class
target/classes/mflix/api/models/Session.class
target/classes/mflix/api/models/RottenTomatoes.class
target/classes/mflix/api/models/MovieTitle.class
target/classes/mflix/api/models/Movie.class
target/classes/mflix/api/models/Login.class
target/classes/mflix/api/models/IMDB.class
target/classes/mflix/api/models/Critic.class
target/classes/mflix/api/models/Credentials.class
target/classes/mflix/api/models/Comment.class
target/classes/mflix/api/models/AbstractMovie.class
target/classes/mflix/api/daos/UserDao.class
target/classes/mflix/api/daos/MovieDocumentMapper.class
target/classes/mflix/api/daos/MovieDao.class
target/classes/mflix/api/daos/IncorrectDaoOperation.class
target/classes/mflix/api/daos/CommentDao.class
target/classes/mflix/api/daos/AbstractMFlixDao.class
target/classes/mflix/api/controllers/UserController.class
target/classes/mflix/api/controllers/MovieController.class
target/classes/mflix/api/controllers/GlobalExceptionHandler.class
target/classes/mflix/api/controllers/ApiController.class
target/classes/application.properties
*.class
*.class
target/classes/application.properties
